<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="github" value="https://nuget.pkg.github.com/ryannnnnnr/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="ryannnnnnr" />
            <add key="ClearTextPassword" value="b6e43938d8a72f4f17baa888aa988bce7adb5ae7" />
        </github>
    </packageSourceCredentials>
</configuration>